<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>morris test</title>


    <!-- jQuery -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/static/vendor/raphael/raphael.min.js"></script>
    <script src="/static/vendor/morrisjs/morris.min.js"></script>


    <!-- Custom Theme JavaScript -->
    <script src="/static/dist/js/sb-admin-2.js"></script>

    <!-- Flot Charts JavaScript -->
    <script src="/static/vendor/flot/excanvas.min.js"></script>
    <script src="/static/vendor/flot/jquery.flot.js"></script>
    <script src="/static/vendor/flot/jquery.flot.pie.js"></script>
    <script src="/static/vendor/flot/jquery.flot.resize.js"></script>
    <script src="/static/vendor/flot/jquery.flot.time.js"></script>
    <script src="/static/vendor/flot-tooltip/jquery.flot.tooltip.min.js"></script>

  <!-- DataTables JavaScript -->
  <link rel="stylesheet" href="/static/dist/css/jquery.dataTables.min.css">
  <script src="/static/js/jquery.dataTables.min.js"></script>
</head>

<body>

     <div class="row">
         <div class="col-lg-6">
              <div class="panel panel-default">
                    <div class="panel-heading">
                           	 <i class="fa fa-sitemap"></i>设备资产比率
                     </div>
                        <!-- /.panel-heading -->
                     <div class="panel-body">
                     <div class="flot-chart">
                          <div class="flot-chart-content" id="assets_per"></div>
                          </div>
                     </div>
                        <!-- /.panel-body -->
              </div>
                    <!-- /.panel -->
         </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           	<i class="fa fa-bookmark"></i> 设备资产明细
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="asset_number"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
     </div>



<script>
	//Flot Pie Chart
	$(function() {
	    var data = [
            {% for ds in assetsNumber %}
	           		{
	           			{% if ds.assets_type == "server" %}
	         				label: "服务器",
			         	{% elif ds.assets_type == "vmser" %}
               				label: "虚拟机",
	         			{% endif %}
	               		data: {{ ds.dcount }}
	           		},
	           {% endfor %}
				];

	    var plotObj = $.plot($("#assets_per"), data, {
	        series: {
	            pie: {
	                show: true
	            }
	        },
	        grid: {
	            hoverable: true
	        },
	        tooltip: true,
	        tooltipOpts: {
	            content: "%p.0%, %s", // show percentages, rounding to 2 decimal places
	            shifts: {
	                x: 20,
	                y: 0
	            },
	            defaultTheme: false
	        }
	    });

	});

	$(function() {
	    Morris.Donut({
	        element: 'asset_number',
	        data: [
	               {% for ds in assetsNumber %}
	               		{
	               			{% if ds.assets_type == "server" %}
		         				label: "服务器",
		         			{% elif ds.assets_type == "vmser" %}
	               				label: "虚拟机",
		         			{% endif %}
	                   		value: {{ ds.dcount }}
	               		},
	               {% endfor %}
	               ],
	        resize: true
	    });

	});

</script>

</body>